<div class="2u 12u$(2)">
    <ul class="nav" style="border: 1px dashed #ccc">
        <li><a id="compte" href="{{ url('sosvelo_uc') }}">Votre Compte</a></li>
        <li><a id="info" href="{{ url('sosvelo_uc_point') }}">Info Point</a></li>
        <li><a id="listamis" href="{{ url('sosvelo_uc_friend') }}">Liste des amis/aderents</a></li>
        <li><a id="normalization-link" href="{{ url('sosvelo_uc_comment') }}">Liste des
                commentaires </a></li>
        <li><a id="listamis" href="{{ url('sosvelo_uc_usercontact') }}">Contacter ADAV</a></li>
        <li><a id="normalization-link" href="{{ url('sosvelo_uc_message') }}">Boître de
                messages</a></li>
    </ul>
</div>