{#{% extends "SOSVeloTemplateBundle:Template:index.html.twig" %}#}

{% extends '@SOSVeloTemplate/layout.html.twig' %}

{% block title %}SOSVelo ! - {{ 'layout.register'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block noscriptstylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

    {% block menu %}
        {{ parent() }}
    {% endblock %}
    <!-- Main -->
    <section id="main" class="container">
        <div class="row">
            <div class="12u$ 12u$(2)">
                <!-- Text -->
                <section class="box">
                    <h2 class="align-center">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h2>

                    <form method="POST" class="fos_user_registration_register" id="register"
                          action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }}>

                        <div class="row uniform 50%">
                            <div class="6u -3u align-center">
                                <fieldset id="inputs">
                                    {{ form_widget(form) }}
                                </fieldset>
                            </div>
                        </div>

                        <div class="row uniform 50%">
                            <div class="6u -3u align-center">
                                <fieldset id="actions">
                                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"
                                           id="submit"/>
                                    <input type="reset" value="Reset"
                                           id="reset"/>
                                </fieldset>
                            </div>
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </section>

    {% block cta %}
        {#leave empty because we dont need a cta#}
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#header').attr('class', 'skel-layers-fixed');
        });
    </script>
{% endblock %}