{#{% extends "SOSVeloTemplateBundle:Template:index.html.twig" %}#}

{% extends '@SOSVeloTemplate/layout.html.twig' %}

{% block title %}SOSVelo ! - Login{% endblock %}

{% block noscriptstylesheets %}
    {{ parent() }}
{% endblock %}

    {% block body %}
        {% trans_default_domain 'FOSUserBundle' %}

        {% block menu %}
            {{ parent() }}
        {% endblock %}

        <!-- Main -->
        <section id="main" class="container">
            <div class="row">
                <div class="12u$ 12u$(2)">
                    <!-- Text -->
                    <section class="box">
                        <h2 class="align-center">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h2>
                        {% if error %}
                            <div class="error align-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
                        {% endif %}
                        <form action="{{ path("fos_user_security_check") }}" method="POST" id="login">

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="row uniform 50%">
                                <div class="6u -3u">
                                    <fieldset id="inputs">
                                        <label for="username">{{ 'security.login.username'|trans }}</label>
                                        <input type="text" name="username" id="username" value="{{ last_username }}"
                                               required="required" placeholder="Username"/>

                                        <label for="password">{{ 'security.login.password'|trans }}</label>
                                        <input type="password" id="password" name="_password" placeholder="Password"
                                               required="required"/>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="row uniform 50%">
                                <div class="4u$ -4u align-center">
                                    <fieldset id="actions">
                                        <ul class="actions">
                                            <li><input type="submit" id="submit" name="_submit"
                                                       value="{{ 'security.login.submit'|trans }}"/></li>
                                            <li><input type="reset" value="Reset" class="alt"/></li>
                                        </ul>
                                    </fieldset>
                                </div>
                            </div>

                        </form>

                        <div class="row uniform 50%">
                            <div class="4u -4u align-center">
                                <a>Forget your password?</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        {% block footer %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#header').attr('class', 'skel-layers-fixed');
        });
    </script>
{% endblock %}