{% extends "SOSVeloTemplateBundle:Template:index.html.twig" %}
    {% block body %}
    {% trans_default_domain 'FOSUserBundle' %}    
        <form action="{{ path("fos_user_security_check") }}" method="post" id="login">
            <h1>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h1>
                {% if error %}
                    <div>{{ error|trans }}</div><br>
                {% endif %}
            <fieldset id="inputs">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </fieldset>

            <fieldset id="actions">
                <input type="submit" id="submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
            </fieldset>
        </form>
    {% endblock %}