{# SOSVelo/Bundle/TemplateBundle/Resources/views/Template/point.html.twig #}

{% extends '@SOSVeloUser/layout_uc.html.twig' %}

{% block title %}Your point {#TODO username#} {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@SOSVeloTemplateBundle/Resources/public/css/chosen.min.css' output='chosen.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"></link>
    {% endstylesheets %}
{% endblock %}


{% block content %}
    <div class="9u -1u 12u$(2)">
        <h3>Nom de point : {{ point.name }} </h3>

        <form action="#" method="post">
            <div class="row uniform">

                {% form_theme form 'SOSVeloUserBundle:Form:field.html.twig' %}


                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}


                <div class="9u 12u(mobilep)">
                {# Génération du label. #}
                {{ form_label(form.adress, "Adresse :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                {{ form(form.adress) }}
                </div>

                <div class="9u 12u(mobilep)">
                {# Génération du label. #}
                {{ form_label(form.description, "Horaire :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                {{ form(form.description) }}
                </div>



                {#<div class="9u 12u(mobilep)">#}
                    {#<label>Adresse : </label>#}

                    {#<input id="pointAdresse" type="text" placeholder=" " value="{{ point.adress }}" name="pointAdresse">#}
                {#</div>#}
                {#<div class="9u 12u(mobilep)">#}
                    {#<label>Horaire : </label>#}

                    {#<input id="pointDescription" type="text" placeholder=" " value="{{ point.description }}" name="pointDescription">#}
                {#</div>#}

                <div class="12u$">
                    <div class="select-wrapper">
                        <select id="category" name="category">
                            <option value="">- Category -</option>
                            <option value="1">Manufacturing</option>
                            <option value="1">Shipping</option>
                            <option value="1">Administration</option>
                            <option value="1">Human Resources</option>
                        </select>
                    </div>
                </div>
                <div class="4u 12u$(3)">
                    <input type="radio" name="priority" id="priority-normal">
                    <label for="priority-normal">Normal Priority</label>
                </div>
                <div class="4u$ 12u$(3)">
                    <input type="radio" name="priority" id="priority-high">
                    <label for="priority-high">High Priority</label>
                </div>

                <div class="12u">
                    <em>Select your offer</em>
                    <select data-placeholder="Votre service : " style="width:350px;" class="chosen-select"
                            multiple tabindex="6">

                        <option value=""></option>
                        <optgroup label="Services">
                            {% for service in  point.Services %}
                                <option selected="true">  {{ service.name }}{% if not loop.last %}, {% endif %}</option>
                            {% endfor %}
                            {% for service in  allService %}
                                     <option>  {{ service.name }}{% if not loop.last %}, {% endif %}</option>
                            {% endfor %}
                        </optgroup>

                    </select>
                </div>

                <!-- Break -->
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Submit"></li>
                        <li><input type="reset" class="alt" value="Reset"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@SOSVeloTemplateBundle/Resources/public/js/chosen.jquery.min.js' output='js/chosen.jquery.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var config = {
            '.chosen-select': {}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
{% endblock %}